body {
	padding: 0 200px;
	font-family: 'Quicksand', sans-serif;
}

#nav {
	text-align: center;
	padding: 25px;
	background-color: orange;
  color: white;
  height: 86px;
  word-spacing: 30px;

}
#nav ul li {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}

img {
	float: left;
	padding: 1px 175px 15px 3px;
	width: 25%;
	margin-top: 35px;
}

#right {
	padding: 75px;
	font-size: 20px;
	color: orange;

}
.one {
		background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.two {
	 background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
	text-align: center;
	padding: 25px;
	background-color: green;
  color: white;
  height: 86px;
  word-spacing: 30px;
}

footer ul li {
	display: inline-block;
}
